body {
    background-color: black;
    color: black;
}

#introBox {
    background-image: url("images/hillH.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom;
    text-align: center;
}

.jumbotron-fluid {
    height: 550px;
}

#myName {
    font-size: 100px;
    line-height: 90px;
    padding-top: 50px;
    padding-bottom: 75px;
}

#introText {
    color: white;
    font-size: 20px;
    background-color: black;
}

#bioText {
    padding: 40px;
    color: lightgray;
    font-size: 22px;
    line-height: 36px;
}

#myFace {
    margin: auto;    
    display: block;
}

.card-img-top {
    height: 140px;
}

.card {
    margin: 30px;
}

#pastProjects {
    color: white;
}

#contactLabel {
    color: white;
}