body {
    background-color: black;
    color: black;
}

a {
    color: gray;
}

.iconrow {
    padding-top: 20px;
    padding-bottom: 30px;
}

h4, a {
    color: gray;
}

#aboutMe {
    padding-top: 30px;
}


@media (max-width: 500px) {
    #introBox {
      background-image: url("images/hillS.jpg");
      background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom;
    text-align: center;
    }
    .jumbotron-fluid {
        height: 550px;
    }
    #myName {
        font-size: 100px;
        line-height: 90px;
        padding-top: 75px;
        padding-bottom: 75px;
    }

    #bioText {
        padding-left: 20px;
        padding-right: 20px;    
    }
  }
  @media (min-width: 501px) {
    #introBox {
      background-image: url("images/hillH2.jpg");
      background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom;
    text-align: center;
    }
    .jumbotron-fluid {
        height: 350px;
    }
    #myName {
        font-size: 100px;
        line-height: 90px;
        padding-top: 60px;
        padding-bottom: 75px;
    }
  }

#introText {
    padding: 10px;
    color: white;
    font-size: 20px;
}

#bioText {
    color: lightgray;
    font-size: 18px;
    line-height: 24px;
}

#myFace {
    margin: auto;    
    display: block;
    padding-bottom: 40px;
}

.card-img-top {
    height: 140px;
}

.card {
    margin: 30px;
}

.sectionLabel {
    color: white;
}

.icons {
    padding: 20px;
}